# ignore anything intarget
target/

# ignore my commonly used 'res' file
res

# ignore anything ending with ~
*~

# ignore any zips
*.zip

# ignore SciTE properties files
*.properties

# ignore log files
*.log


